## Single page Tabular Scrape

- <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">On this site</a>, scrape all the doctors info on page 292.
- Export the content into a CSV file called ```page_292.csv```.

In [1]:
## create coding cells as needed
#import pandas
import pandas as pd

In [3]:
#assign target url to a variable
url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action?d-49653-p=292"

In [7]:
response = pd.read_html(url)
response

[                                  Physician Last Name  \
 0                                               Ataee
 1                                              Feiner
 2                                              Taylor
 3                                             Donshik
 4                                             Robbins
 5                                             Freeman
 6                                           Markowitz
 7                                              Puskas
 8                                               Lopez
 9                                              Hirsch
 10                                             Stobie
 11                                                Leo
 12                                                 Lu
 13                                              James
 14                                             O'Hair
 15                                           Berselli
 16                                             Baldeo
 17                                       Bell-Thomson
 18                                        Vanderwalde
 19                                            Salerno
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                              Shahab                   NaN
 1                                                Marc                  Alan
 2                                               David               Howarth
 3                                                 Jon                 David
 4                                             Richard                 Gregg
 5                                             Douglas                   NaN
 6                                              Howard                   NaN
 7                                                John               Michael
 8                                                Jose                     A
 9                                             Anthony                   NaN
 10                                              David                     W
 11                                             Thomas        Friedrich Paul
 12                                              Jiade                   Jay
 13                                             Robert               Truxton
 14                                              James               Patrick
 15                                             Robert                Andrew
 16                                             Philip                   NaN
 17                                               John                   NaN
 18                                               Alan                   NaN
 19                                             Egisto                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0         232919.0           MD     09/11/2003   10/07/2003         1964.0
 1         147174.0           MD     10/10/2003   10/06/2003         1952.0
 2         154079.0           MD     10/10/2003   10/06/2003         1953.0
 3         202926.0           MD     10/10/2003   10/06/2003         1968.0
 4         179378.0           MD     10/10/2003   10/06/2003         1963.0
 5         220267.0           MD     10/10/2003   10/06/2003         1968.0
 6         188933.0           MD     10/10/2003   10/06/2003         1961.0
 7         120273.0           MD     10/06/2003   10/01/2003         1945.0
 8         192852.0           MD     10/06/2003   10/01/2003         1962.0
 9          98440.0           MD     10/01/2003   09/24/2003         1940.0
 10          2800.0           PA     10/01/2003   09/24/2003         1962.0
 11         79593.0           MD     10/01/2003   09/24/2003         1925.0
 12        213593.0           MD     10/01/2003   09/24/2003         1970.0
 13        185183.0           MD     10/01/2003   09/24/2003         1932.0
 14        200465.0           MD     10/01/2003   09/24/2003         1965.0
 15         95088.0           MD     10/10/2003   09/22/2003         1939.0
 16        194531.0           MD     06/28/2004   09/22/2003         1957.0
 17        121353.0           MD     12/02/1998   09/17/2003         1947.0
 18        132894.0           MD     09/07/2003   09/16/2003         1949.0
 19        153248.0           MD     09/18/2003   09/12/2003         1944.0
 20             NaN          NaN            NaN          NaN            NaN
 21             NaN          NaN            NaN          NaN            NaN  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0                Ataee               Shahab                   NaN
 1               Feiner                 Marc                  Alan
 2               Taylor                David               Howarth
 3              Donshik                  Jon                 David
 4              Robbins              Richard                 Gregg
 5              Freeman              Douglas                   NaN
 6            Markowitz               Howard                   NaN
 7               Puskas                 John               Michael
 8                Lopez                 Jose                     A
 9               Hirsch              Anthony                   NaN
 10              Stobie                David                     W
 11                 Leo               Thomas        Friedrich Paul
 12                  Lu                Jiade                   Jay
 13               James               Robert               Truxton
 14              O'Hair                James               Patrick
 15            Berselli               Robert                Andrew
 16              Baldeo               Philip                   NaN
 17        Bell-Thomson                 John                   NaN
 18         Vanderwalde                 Alan                   NaN
 19             Salerno               Egisto                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0           232919           MD     09/11/2003   10/07/2003           1964
 1           147174           MD     10/10/2003   10/06/2003           1952
 2           154079           MD     10/10/2003   10/06/2003           1953
 3           202926           MD     10/10/2003   10/06/2003           1968
 4           179378           MD     10/10/2003   10/06/2003           1963
 5           220267           MD     10/10/2003   10/06/2003           1968
 6           188933           MD     10/10/2003   10/06/2003           1961
 7           120273           MD     10/06/2003   10/01/2003           1945
 8           192852           MD     10/06/2003   10/01/2003           1962
 9            98440           MD     10/01/2003   09/24/2003           1940
 10            2800           PA     10/01/2003   09/24/2003           1962
 11           79593           MD     10/01/2003   09/24/2003           1925
 12          213593           MD     10/01/2003   09/24/2003           1970
 13          185183           MD     10/01/2003   09/24/2003           1932
 14          200465           MD     10/01/2003   09/24/2003           1965
 15           95088           MD     10/10/2003   09/22/2003           1939
 16          194531           MD     06/28/2004   09/22/2003           1957
 17          121353           MD     12/02/1998   09/17/2003           1947
 18          132894           MD     09/07/2003   09/16/2003           1949
 19          153248           MD     09/18/2003   09/12/2003           1944  ,
     0                                                  1
 0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
    0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
 0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

 [1 rows x 27 columns]]

In [23]:
response[1]

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Ataee,Shahab,NaN,232919,MD,09/11/2003,10/07/2003,1964
1,Feiner,Marc,Alan,147174,MD,10/10/2003,10/06/2003,1952
2,Taylor,David,Howarth,154079,MD,10/10/2003,10/06/2003,1953
3,Donshik,Jon,David,202926,MD,10/10/2003,10/06/2003,1968
4,Robbins,Richard,Gregg,179378,MD,10/10/2003,10/06/2003,1963
5,Freeman,Douglas,NaN,220267,MD,10/10/2003,10/06/2003,1968
6,Markowitz,Howard,NaN,188933,MD,10/10/2003,10/06/2003,1961
7,Puskas,John,Michael,120273,MD,10/06/2003,10/01/2003,1945
8,Lopez,Jose,A,192852,MD,10/06/2003,10/01/2003,1962
9,Hirsch,Anthony,NaN,98440,MD,10/01/2003,09/24/2003,1940
10,Stobie,David,W,2800,PA,10/01/2003,09/24/2003,1962
11,Leo,Thomas,Friedrich Paul,79593,MD,10/01/2003,09/24/2003,1925
12,Lu,Jiade,Jay,213593,MD,10/01/2003,09/24/2003,1970
13,James,Robert,Truxton,185183,MD,10/01/2003,09/24/2003,1932
14,O'Hair,James,Patrick,200465,MD,10/01/2003,09/24/2003,1965
15,Berselli,Robert,Andrew,95088,MD,10/10/2003,09/22/2003,1939
16,Baldeo,Philip,NaN,194531,MD,06/28/2004,09/22/2003,1957
17,Bell-Thomson,John,NaN,121353,MD,12/02/1998,09/17/2003,1947
18,Vanderwalde,Alan,NaN,132894,MD,09/07/2003,09/16/2003,1949
19,Salerno,Egisto,NaN,153248,MD,09/18/2003,09/12/2003,1944

In [25]:
docinfo = response[1]
docinfo

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Ataee,Shahab,NaN,232919,MD,09/11/2003,10/07/2003,1964
1,Feiner,Marc,Alan,147174,MD,10/10/2003,10/06/2003,1952
2,Taylor,David,Howarth,154079,MD,10/10/2003,10/06/2003,1953
3,Donshik,Jon,David,202926,MD,10/10/2003,10/06/2003,1968
4,Robbins,Richard,Gregg,179378,MD,10/10/2003,10/06/2003,1963
5,Freeman,Douglas,NaN,220267,MD,10/10/2003,10/06/2003,1968
6,Markowitz,Howard,NaN,188933,MD,10/10/2003,10/06/2003,1961
7,Puskas,John,Michael,120273,MD,10/06/2003,10/01/2003,1945
8,Lopez,Jose,A,192852,MD,10/06/2003,10/01/2003,1962
9,Hirsch,Anthony,NaN,98440,MD,10/01/2003,09/24/2003,1940
10,Stobie,David,W,2800,PA,10/01/2003,09/24/2003,1962
11,Leo,Thomas,Friedrich Paul,79593,MD,10/01/2003,09/24/2003,1925
12,Lu,Jiade,Jay,213593,MD,10/01/2003,09/24/2003,1970
13,James,Robert,Truxton,185183,MD,10/01/2003,09/24/2003,1932
14,O'Hair,James,Patrick,200465,MD,10/01/2003,09/24/2003,1965
15,Berselli,Robert,Andrew,95088,MD,10/10/2003,09/22/2003,1939
16,Baldeo,Philip,NaN,194531,MD,06/28/2004,09/22/2003,1957
17,Bell-Thomson,John,NaN,121353,MD,12/02/1998,09/17/2003,1947
18,Vanderwalde,Alan,NaN,132894,MD,09/07/2003,09/16/2003,1949
19,Salerno,Egisto,NaN,153248,MD,09/18/2003,09/12/2003,1944

In [27]:
type(docinfo)

pandas.core.frame.DataFrame

In [29]:
#export docinfo as csv
docinfo.to_csv("page_292.csv", index = False, encoding = "UTF-8")

## Multipage Tabular Scrape

- <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">On this site</a>, scrape all doctors whose last names begin with "P".
- Export the content into a CSV file called ```md_P.csv```.

In [ ]:
## create coding cells as needed